.container{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.field-container{
	position: relative;
}

h1 {
    color: #27aedb;
    text-align: center;
}

table {
	color: pink;
	border: gray solid 2px;
	border-collapse: collapse;
	width: 306px;
}

td {
  	border: gray solid 2px;
  	font-size: 80px;
  	text-align: center;
	width: 100px;
	height: 100px;
}
img {
	width: 50px;
	height: 50px;
}

button {
  	width: 300px;
  	padding: 10px;
  	background-color: green;
  	color: white;
  	margin-top: 30px;
}

#resetButton {
  	background-color: pink;
  	width: 315px;
  	margin-left: 0px;
  	margin-right: 0px;
 }

 .point-counter {
	color: #27aedb;
	font-size: 24px;
	margin-bottom: 30px;
 }

 .result-message {
	background-color:rgba(255, 0, 0, 0.2); 
	position: absolute;
	top: 130px;
	left: 50px;
	font-size: 30px;
	padding: 20px;
	border-radius: 20%
 }